.news {}

.news__info {}

.news__title-section {}

.news__subtitle {}

.news__buttons {
    margin-top: 100px;

    display: flex;
    justify-content: space-between;
}

.news__btn {
    display: flex;
    gap: 20px;

    .active {
        background-color: var(--bg-btn-active);
    }
}

.news__btn-link {
    padding: 10px 24px;
    background-color: var(--bg-btn-white);

    border-radius: 5px;
}

.news__btn-archive {
    display: flex;
    align-items: center;
    gap: 20px;

    .active {
        background-color: var(--bg-btn-active);
    }
}

.news_archive {
    background-color: var(--bg-btn-white);
    padding: 10px;

    border-radius: 5px;
}



.archive_news {
    padding: 10px 10px;

    border: 1px solid #000;
    border-radius: 50px;
}

.news__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 20px;
}

.news__card {
    display: flex;
    width: min(494px, 100%);
    padding: 15px;
    border-radius: 25px;
    background-color: var(--bg-card-white);
}

.news__card-speed {
    margin-top: 8px;
    font-size: 24px;
}

.news__buttons-pages {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 15px;


    .active {
        background-color: var(--bg-btn-active);
    }

}

.news__arrow,
.news__btn-page {
    padding: 10px;
    border-radius: 6.29px;
    background-color: var(--bg-btn-white);

}

.news__arrow+.news__arrow {
    width: 40px;
    height: 44px;
    margin-right: 15px;
}


@media (max-width:1640px) {
    .news__cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:1325px) {

    .news__cards {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    .news__card {
        width: min(540px, 100%);
    }

    .two,
    .three,
    .four,
    .five {
        display: none;
    }

}

@media (max-width:1064px) {
    .news {
        padding: 20px 50px;
    }

    .news__buttons {
        margin-top: 50px;
        flex-wrap: wrap;
        gap: 20px;
    }

}


@media (max-width:755px) {
    .news {
        padding: 50px 70px;
    }

    .news__info {
        font-size: 18px;
    }

    .news__buttons {

        flex-wrap: wrap;
        gap: 20px;
    }
}

@media (max-width:725px) {
    .news__card {
        flex-direction: column-reverse;
        width: min(350px, 100%);
        height: min(406px, 100%);
    }

    .news__card-img {
        width: min(320px, 100%);
    }
}

@media (max-width:585px) {

    .news__btn-archive {

        flex-wrap: wrap;
    }

    .news {
        padding: 20px 20px;
    }

    .news__buttons-pages {
        margin-top: 15px;
        gap: 10px;
    }

    .news__btn-page {
        padding: 9px
    }
}

@media (max-width:390px) {
    .news {
        padding: 16px 16px;
    }

    .news__btn-link {
        padding: 10px 16px;
    }

    .news__btn-page {
        padding: 5px
    }

}