:root{

    --bg-body-grey:#ADADAD;
    --bg-section:#E7E7E6;
    --bg-form-white:#fff;
    --bg-btn-white:#fff;
    --bg-btn-active:#FDC70D;
    --bg-card-white:#fff;
    

    --color-main:#000;
    --color-section:#FDC70D;

    
    --bg-header-yellow:#FFC600;

    --bg-footer-yellow:#FDC70D;

    /* --font-color-grey:#38535D;

    --bg-main-black:#333333 ;
    --bg-active-black:#282829 ;

    --color-form:#55565A; */

}